<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="./Content/Images/FavIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./Content/Images/FavIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./Content/Images/FavIcons/favicon-16x16.png">
    <link rel="manifest" href="./Content/Images/FavIcons/manifest.json">
    <link rel="mask-icon" href="./Content/Images/FavIcons/safari-pinned-tab.svg" color="#5bbad5">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />

    <meta name="theme-color" content="#ff0000">
    <meta name="theme-color" content="#ffffff">
    <title>Direct Deposit Management System </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7COpen+Sans:100,200,300,400,500,600,700,800,900%7CArimo:100,200,300,400,500,600,700,800,900" type="text/css">
    <link href="/Content/main2.css" rel="stylesheet" />
    @*-----------header end ---------------*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*vdd move this down*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</head>
<body>
    <div id="wp_header_removedtheBackheader" class="menu-align-left">
        @*<div id="info-bar" class="content-font row-wrapper" style="display:none">
            <div>
                //this is to bring loginout logo and lacounty text to bring together
                <a target="_blank" href="https://lacounty.gov" style=" color:rgba(41,213,236,1); font-family: Arial, Helvetica, sans-serif; font-size:medium;font-weight:bold">lacounty.gov</a>
            </div>
        </div>*@
        <header>
            <nav id="top-menu1">
                <div class="primary-menu-bar-wrapper1 row-wrapper1" id="menu_TopPanel">
                    <div>
                        <div class="menu-button1"></div>
                        <div id="menu_div_TopPanel" class="navHeader">
                            <div class="centerColumn">
                                <a id="lnkHome" class="navLink homeIcon" alt="Home" aria-label="Home">
                                    <span class="fa fa-home homeImage" aria-hidden="true"></span>
                                </a>

                                <a id="menu_applicatoinList" text="Application List" class="navLink">APPLICATION LIST</a>
                                <a class="navLink" href="./Admin_Users.html">ADMIN</a>
                                <a id="lnkReports" text="Case List" class="navLink" href="./Reports.html">REPORTS</a>

                                <div class="search">
                                    <a id="lnkAdvSearch" text="Adv. Search" class="navLink" href="./AdvancedSearch.html">ADV SEARCH</a>
                                    <div class="input-group" style="margin-top:4px;">
                                        <input id="caseNumber" name="caseNumber" style="font-size:.9em; width:135px !important;" type="search" placeholder="Application Number" class="form-control" aria-label="Claim Number">
                                        <span class="input-group-btn" style="display: inline;">
                                            <button type="submit" id="btnSearch" class="btn btn-xs btn-default btn-nolabel" aria-label="Search">
                                                <span class="fa fa-search"></span><span class="text-hide">Search</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div id="wp_content">
        <div id="liNavigation" class="row-wrapper row  row-home-gray">

        </div>

        <div id="grey-info-bar" class="content-font row-wrapper">
            <div class="logo-bar-wrapper1">
                <div class="col-xs-12">
                    <h3 id="lbl_header">
                        Direct Deposit Management System
                        <span id="btn_loginLock" class="fa fa-expeditedssl fa-right" style="font-size: 22px;"></span>

                        <span id="id_userName" class="fa fa-expeditedssl fa-right" style="float: right; font-size: 22px;"></span>
                    </h3>

                    <div class="header-line header-line-purple"><span></span></div>
                </div>
            </div>
        </div>

        <div id="alertModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="alertContent"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_alertOK" class="btn button-header-color">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="logoutModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">LOGOUT</h5>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        Are you sure you want to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="text-align:center" class="btn btn-default  btn-lg" data-dismiss="modal">No</button>
                        <button id="btn_logout" type="button" class="btn btn-primary btn-lg">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="layoutBody" class="row-wrapper layoutBody">
            @RenderBody()
        </div>



        <!--new footer -->
        <hr class="row-wrapper">
        <footer>
            <div id="pnlfooter" style="text-align:center; display:inline-block; width:100%">
                <div>
                    <a href="./User Account_UserProfile.html">Profile</a>&nbsp;|&nbsp;
                    <a id="btn_logout" href="/Home/Index">Logout</a>&nbsp;|&nbsp;
                    <a href="./Help.html">Help</a>
                </div>
                <div>County of Los Angeles Department of Auditor Controller</div>
            </div>
        </footer>
        <!--new footer  -->
    </div>  @*wp_content*@

    @Scripts.Render("~/jsbundles/jquery")
    @Scripts.Render("~/bundles/vddAdmin");

    <script>
        var hostdomainUrl = '@System.Configuration.ConfigurationManager.AppSettings["HostDomainUrl"]';
            var sessoinTimeout = '@System.Configuration.ConfigurationManager.AppSettings["sessionTimeoutInterval"]'   //1 * 60 * 1000;
            setTimeout('sessionEnd()', sessoinTimeout )
            function sessionEnd() {
                sessionStorage.clear();
                window.location.href = '/home/index';
            }

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>